<!-- semantic_analysis.html -->

{% extends 'base.html' %}

{% block title %}Semantic Analysis - TextHelp{% endblock %}

{% block content %}
<div class="flex justify-center">
    <div class="w-1/2 p-4 bg-white rounded shadow-md">
        <h2 class="text-3xl font-bold mb-4">Semantic Analysis</h2>
        <form action="{% url 'semanticAnalysis' %}" method="post">
            {% csrf_token %}
            <textarea name="text" rows="10" placeholder="Paste your text here" class="w-full h-[70vh] p-4"></textarea>
            <button type="submit" class="bg-gray-200 hover:bg-gray-300 text-black font-bold py-2 px-4 rounded">Analyze</button>
        </form>
    </div>
    <div class="w-1/2 p-4 bg-white rounded shadow-md h-[70vh]">
        {% if analysis_result %}
        <h2 class="text-3xl font-bold mb-4">Analysis Result</h2>
        <div class="mt-4">
        </div>
        <div class="mt-4">
            <ul class="list-disc pl-8">
                <li>Compound: {{ analysis_result.Sentiment.compound }}</li>
                <li>Positive: {{ analysis_result.Sentiment.positive }}</li>
                <li>Neutral: {{ analysis_result.Sentiment.neutral }}</li>
                <li>Negative: {{ analysis_result.Sentiment.negative }}</li>
                <li>Overall: {{ analysis_result.Sentiment.overall }}</li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
